* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

.header-container {
  background-color: #1f2937;
  font-family: Roboto;
  margin: 0;
  padding: 0;
  height: 550px;
  min-height: 100hv;
}

.title {
  font-size: 24px;
  color: #f9faf8;
  margin-left: 50px;
  padding-left: 40px;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
.right-side {
  display: flex;
  align-items: center;
  padding-right: 40px;
  margin-right: 50px;
  margin-left: 50px;
  padding-left: 40px;
}

.link {
  font-size: 18px;
  color: #e5e7eb;
  padding-right: 10px;
}
.secondary-container {
  margin-top: 80px;
  margin-left: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 40px;
  margin-right: 50px;
  margin-left: 50px;
  padding-left: 40px;
}

.secondary-title {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.secondary-text {
  font-size: 18px;
  color: #e5e7eb;
}
.logo-image {
  width: 600px;
  height: 300px;
}
.logo-picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sign-up-button {
  font-family: Roboto;
  background-color: #3882f6;
  color: white;
  font-weight: bold;
  border-style: none;
  margin-top: 10px;
  width: 100px;
  height: 30px;
  border-radius: 7px;
  cursor: pointer;
}

.random-info {
  font-family: Roboto;
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 16px;
}
.middle-section-info-container {
  display: flex;
  justify-content: center;
  gap: 52px;
  height: 350px;
}
.info {
  max-width: 200px;
  max-height: 250px;
}

.info img {
  height: 100%;
  width: 100%;
  border-radius: 8px;
}

.info-text {
  text-align: center;
  font-size: 18px;
  color: #6e6e70;
}

.img-border {
  width: 200px;
  height: 250px;
  object-fit: fill;
  border: 4px solid #3882f6;
  border-radius: 10px;
}

.quote-section-container {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px;
}

.quote {
  font-family: Roboto;
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
  margin-bottom: 20px;
}

.author {
  font-family: Roboto;
  font-size: 30px;
  font-weight: bold;
  color: #1f2937;
}

.quote-container {
  max-width: 900px;
}

.last-section {
  height: 300px;
  display: flex;
  justify-content: center;
}

.action-call-container {
  margin: 80px 80px 80px 80px;
  padding: 10px 10px 10px 10px;
  width: 700px;
  display: flex;
  justify-content: center;
  background-color: #3882f6;
  align-items: center;
  border-radius: 10px;
}

.text-container {
  padding: 30px;
}
.call-to-action {
  font-family: Roboto;
  font-size: 20px;
  color: white;
  font-weight: 900;
}

.sign-up-for-club {
  font-family: Roboto;
  font-size: 14px;
  color: white;
}

.sign-up-button-container button {
  font-family: Roboto;
  color: white;
  background-color: transparent;
  border: solid white 2px;
  padding: 10px 20px 10px 20px;
  margin: 10px 10px 10px 10px;
  width: 150px;
  border-radius: 10px;
  cursor: pointer;
}
